<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HTChat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="netlib.Dns" publicKeyToken="924c5b18328d6f09" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.5859.29820" newVersion="1.1.5859.29820" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <HTChat.Properties.Settings>
      <setting name="LastUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="LastHost" serializeAs="String">
        <value />
      </setting>
      <setting name="LastPass" serializeAs="String">
        <value />
      </setting>
    </HTChat.Properties.Settings>
  </userSettings>
</configuration>